.idea
.vs
doc
Release

*.7z

/waka-cow/waka-cow
/waka-cow2/waka-cow2
/waka-four/waka-four
/sdk/WakaSDK/WakaSDK/CoreSupervisor.cs
/sdk/WakaSDK/WakaSDK/Generated/Generated.cs
/sdk/WakaSDK/WakaSDK/Generated/GeneratedMetaProvider.cs
/sdk/WakaSDK/WakaSDK/Generated/IDispatcher.cs
/sdk/WakaSDK/WakaSDK/Generated/Supervisor.cs
/waka-cow/proto/backend.pb.go
/waka-cow/proto/waka.pb.go
/waka-cow/proto/waka.pb.meta.go
/waka-cow2/proto/waka.pb.go
/waka-cow2/proto/waka.pb.meta.go
/waka-four/proto/four.pb.go
/waka-four/proto/four.pb.meta.go
/waka/proto/waka.pb.go
/waka/proto/waka.pb.meta.go
